$bg-color : white;
$main-color : rgb(131, 215, 188);
$progress-color :#9999ff;           

/* custom frappe-gant class */
.gantt .bar-progress {
    fill: $progress-color  !important;  //progressbar color
}
.gantt .bar-label{
    font-size :16px !important;
}
.gantt .today-highlight {
    fill: #f2ef4d !important;
}

/////////////////////

body {
    font-family: 'M PLUS Rounded 1c', "Yu Gothic","メイリオ",sans-serif;
    background: $bg-color;
}
.container {
    
    display:block;
    width: 80vw;
    height: 70vh;
    margin: 0 auto;
    overflow: auto;
    border: 1px solid #d8d8d8;
    background-color: #fff;
}



#gantt-title {
    text-align: center;
    color : white;
    font-size: 2.5rem;
    border-radius:  10px;
    border-color : rgba($main-color ,1);
    background-color: $main-color;
    width: 65%;
    margin: 10px auto;

}

.f-container{
    display:flex;
    flex-direction:row;
    margin-left :20px;
}

.input-area{
    margin:100px 0px auto auto;

    ul li {
        list-style: none;
        label {
            margin-right: 20px;
            width:100px;
            float: left;
        }
    }
}

.button-area{
    
    margin:20px 0px auto auto;
    ul li {
        list-style: none;
        margin-top :5px;        
    }
}


.button-div{
    margin: 0 0px 12px;
    padding: 0.5em 2em;
    border: none;
    box-sizing:border-box;
    width:170px;
    display: inline-block;
    font-size: 114%;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

/*　buttonA　*/
.button-A {
    border:3px solid $main-color ;
    background-color: rgba($main-color ,1);
    color: #fff;
    &:hover {
        border:3px solid $main-color; 
        background-color: rgba($main-color,.0);
        color:rgba($main-color ,1);
  }
}  

input{
    border:1.5px solid $main-color;  /* 枠線 */
    border-radius: 3px;
    &:focus{
        background-color: rgba(yellow,0.2);
    }
}



.f-box{
    position:relative;
}

//UI出現用のボタン
.ui-btn {
    position: absolute;
    top: 35px;
    right: 2px;
    display: flex;
    height: 60px;
    width: 30px;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    content: '▶';
    color:white;




}
